<form method="post" action="{{ path('reservation_ron_delete', {'id': reservation_ron.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation_ron.id) }}">
    <button class="btn">Delete</button>
</form>
