{% extends 'base.html.twig' %}

{% block title %} Nos Sponsors {% endblock %}


{% block body %}

    <section class="section-services section-t8">
        <div class="container">

            <div class="row">
                {% for sponsor in sponsors %}
                    <div class="col-md-4">
                        <div class="card-box-c foo">
                            <div class="card-header-c d-flex">
                                <div class="card-img-d">
                                    <img src="{{ asset('Upload/')}}{{ sponsor.image }}" alt="" class="img-d img-fluid">
                                </div>
                            </div>
                            <div class="card-body-c">
                                <p class="content-c" style="text-align: center">
                                    <strong> Nom :{{ sponsor.nom}}</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}